@charset "UTF-8";
/* Main color pallete */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/** Globales **/
body {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 50rem;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-family: "Krub", sans-serif;
  font-family: "Playfair Display", serif;
  color: #f0e1a4;
}

h2 {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  font-weight: 700;
}

h3 {
  color: #fff;
  font-family: "Krub", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

/* Titulos */
.header {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  font-size: auto;
  color: #fff;
  height: 13rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 2rem;
  margin: 1rem;
}
.header svg:hover {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
.hero {
  background-image: url(../Assets/dungeons-and-dragons-leker-guci.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
  border-radius: 1rem;
  margin: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
}
.contenido-hero h2 {
  color: #f0e1a4;
}
.contenido-hero p {
  color: #fff;
  margin: 2rem;
  padding: 0.5rem;
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.hero2 {
  background-image: url(./Assets/dungeons-and-dragons-leker-guci.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 50rem;
  border-radius: 1rem;
  margin: 3rem;
}

.contenido-hero2 {
  position: absolute;
  background-color: rgba(19, 18, 18, 0.473);
  min-height: 40rem;
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
}
.contenido-hero2 h2 {
  color: #f0e1a4;
  text-align: center;
  padding: 3rem 2rem 0 2rem;
}
.contenido-hero2 p {
  color: #fff;
  text-align: justify;
  padding: 0 3rem 0 3rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5rem 0 5rem 0;
  gap: 5rem;
}
.servicios .servicio {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  margin: 0 3rem 0 3rem;
}
.servicios .servicio h3 {
  padding-top: 3rem;
  color: #f0e1a4;
}
.servicios .servicio p {
  line-height: 2;
  text-align: center;
  padding: 3rem 5rem 3rem 5rem;
}
.servicios .iconos {
  margin: 2rem;
  height: 15rem;
  width: 15rem;
  background-color: #fb0101;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Bio {
  display: flex;
  padding: 3rem;
}

/* Profile */
.Bio {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  height: 50rem; /* Esto centra el contenido en la altura de la ventana (viewport height) */
  margin: 0 auto;
}

.Character {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 2rem;
  min-height: 30rem;
  grid-column: 1/2;
  grid-row: 3/5;
  padding: 2.5rem;
}
.Character div {
  text-align: center;
}
.Character p {
  display: flex;
  text-align: center;
  justify-content: center;
}
.Character h2 {
  margin-top: 2.5rem;
  color: #f0e1a4;
}

.navbar {
  margin-bottom: 2rem;
}

.Profile-video {
  display: flex;
  margin: 0 auto;
  height: 50rem;
  min-width: 30rem;
  justify-content: center;
  align-items: center;
}

.profile-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 2rem auto 2rem auto;
  border-radius: 2rem;
  gap: 3rem;
}
.profile-container .one {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  grid-column: 1/2;
  grid-row: 1/3;
  border-radius: 2rem;
  min-height: 30rem;
}
.profile-container .one * {
  display: flex;
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-bottom: 5rem;
  border-color: #fff;
}
.profile-container .one .player:hover {
  animation: wave-animation 0.6s infinite;
}
@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
.profile-container .one .one_head {
  margin: 0 auto;
  padding: 5rem;
}
.profile-container .two {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  grid-column: 2/5;
  grid-row: 1/3;
  border-color: solid #000000;
  color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  min-height: 30rem;
}
.profile-container .two h2 {
  color: #f0e1a4;
}
.profile-container .stats {
  margin: 0;
  padding: 0;
}
.profile-container .four {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  border-color: #f0e1a4;
  grid-column: 2/5;
  grid-row: 3/5;
  min-height: 30rem;
  border-radius: 2rem;
  border-color: solid #000000;
  padding: 2.5rem;
}
.profile-container .four h2 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  color: #f0e1a4;
}
.profile-container .four p {
  text-align: center;
  margin: 0;
}
.profile-container .four .statweights {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 3rem;
}
.profile-container .four p {
  padding: 0.3rem;
}
.profile-container .four div {
  color: #fff;
}
.profile-container .five {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  border-color: #f0e1a4;
  grid-column: 5/1;
  height: 100%;
  border-radius: 2rem;
  text-align: center;
  justify-content: center;
  min-height: 30rem;
}
.profile-container .five P {
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 3rem;
  padding-top: 2rem;
}

/* Plans */
.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  height: 50rem;
}
.pricing-container .pricing-plan {
  flex: 1;
  max-width: 40rem;
  min-height: 40rem;
  background-image: linear-gradient(to top, #000000 0%, #fb0101 90%);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.pricing-container .plan-price {
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
.pricing-container .plan-price:hover {
  font-weight: 700;
  color: #000000;
  animation: heartbeat 3s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pricing-container .plan-features, .pricing-container .plan-title {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  font-weight: 700;
  list-style: none;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #f0e1a4;
}
.pricing-container .plan-features li {
  margin-bottom: 1rem;
  text-align: justify;
  justify-content: center;
}
.pricing-container .plan-button {
  padding: 10px;
  background-image: linear-gradient(to top, #000000 0%, #901111 100%);
  color: #fff;
  border-radius: 1rem;
  border: none;
  border-color: #000000;
  padding-left: 5rem;
  padding-right: 5rem;
}
.pricing-container .plan-button:hover {
  background-image: linear-gradient(to bottom, #901111 0%, #606060 50%, #000000 100%);
}

.plans_hero {
  background-image: url(../Assets/dungeons-and-dragons-leker-guci.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60rem;
  position: relative;
  border-radius: 1rem;
}

.contenido-plans {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
}
.contenido-plans h2 {
  color: #f0e1a4;
  margin: 2rem;
}
.contenido-plans p {
  color: #fff;
  margin: 3rem;
}

.precio-container {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  height: 100%;
  text-align: center;
  gap: 5rem;
}
.precio-container .precio_h2 {
  color: #fff;
  padding: 3rem;
  margin: 0 auto;
  text-transform: uppercase;
}
.precio-container .precio-features {
  background-image: linear-gradient(to top, #000000 0%, #606060 30%, #fb0101 60%, #901111 100%);
  min-width: 15rem;
  margin: 0 5rem 2rem 5 rem;
}

.plan-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/* Features */
#feature_header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem;
}

.features-hero {
  background-image: url(../Assets/church.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50rem;
  min-width: 30rem;
  width: auto;
  position: sticky;
  border-radius: 1rem;
  margin: 2rem;
}

.contenido-features {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 30rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  justify-content: center;
  border-radius: 1rem;
}
.contenido-features h1 {
  color: #f0e1a4;
}
.contenido-features p {
  color: #fff;
  padding: 0.5rem;
}

.feature-text {
  justify-content: center;
  display: flex;
  text-align: center;
  color: #fff;
  margin: 10rem 10rem 0rem 10rem;
}

.display-4 {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  height: 8rem;
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}

.py-5 {
  padding: 0 !important;
}

/* Contacto */
.contenido-Contacto {
  margin: 3rem;
}
.contenido-Contacto h2 {
  color: #f0e1a4;
}

.contact_text {
  margin: 5rem;
  width: 50rem;
}
.contact_text div {
  background-image: linear-gradient(to bottom, #606060 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
  border: 5rem;
  border-radius: 1rem;
}

.formulario {
  background-image: linear-gradient(to bottom, #606060 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  margin: 0 auto;
  padding: 2rem;
  border: 5rem;
  border-radius: 1rem;
}

.seccion_1 {
  padding: 50rem;
  margin-bottom: 5rem;
}

.formulario fieldset {
  border: none;
}

legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
}

.campo {
  margin-bottom: 1rem;
}
.campo label {
  color: #901111;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo textarea {
  height: 15rem;
}

.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

/* Boton index */
.boton {
  background-color: #fb0101;
  color: #f0e1a4;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 60%;
  text-align: center;
  border: none;
  background-image: linear-gradient(to top, #fb0101 0%, #000000 100%);
}
.boton:hover {
  background-image: linear-gradient(to top, #000000 0%, #901111 100%);
  color: #fff;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
    margin-bottom: 2rem;
  }
}
.boton:hover {
  cursor: pointer;
}

.iconos {
  color: #000000;
}

ul {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5rem;
  margin: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

li:last-child {
  grid-column: 1/2;
  grid-row: 1/2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */
.footer {
  background-image: linear-gradient(to top, #901111 20%, #000000 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  line-height: 2rem;
  font-family: Menlo, monospace;
  justify-content: center;
  margin-top: 5rem;
}
.footer P {
  padding: 0rem;
}
.footer h4 {
  color: #f0e1a4;
  text-align: center;
  margin-bottom: 3rem;
}

@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
@media (min-width: 768px) {
  /* Estilos para la navegación principal */
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
  .navegacion-principal a {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
  }
  .navegacion-principal a:hover {
    background-color: #fb0101;
    color: #fff;
  }
  /* Estilos para contenido-hero */
  .contenido-hero {
    background-image: url(../Assets/Articles_Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
  }
  .contenido-hero p {
    color: #fff;
    margin: 0 5rem 0 5rem;
  }
  .contenido-plans {
    background-image: url(../Assets/door.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50rem;
    width: 100%;
  }
  .contenido-plans h2 {
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    color: #f0e1a4;
  }
  .contenido-plans p {
    color: #fff;
    margin: 3rem;
  }
  .features-hero {
    height: 500px;
    width: 95%;
  }
  .contenido-features {
    background-image: url(../Assets/Banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 30rem;
    height: 50rem;
  }
  .contenido-features p {
    color: #fff;
    margin: 0 10rem 0 10rem;
  }
  .contenido-features h2 {
    padding-top: 5rem;
    justify-content: center;
    align-items: center;
    color: #f0e1a4;
  }
  /* Estilos para servicios */
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0;
  }
  .servicios .servicio {
    margin-bottom: 3rem;
  }
  .hero2 {
    background-image: url(../Assets/Banner.jpg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 40rem;
    gap: 2rem;
  }
  .contenido-hero2 {
    padding: 0 80px;
  }
  /* Estilos para contenedor-campos y formulario */
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
  .formulario {
    width: 60rem;
  }
  .campo:nth-child(3),
  .campo:nth-child(4) {
    grid-column: 1/3;
  }
  /* Estilos para profile-container */
  .Profile-video {
    display: flex;
    margin: 0 auto;
    height: 50rem;
    min-width: 30rem;
    justify-content: center;
    align-items: center;
  }
  .profile-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0rem;
    border: 10rem;
    padding: 3rem;
    background-color: #000000;
    grid-auto-rows: minmax(10rem, auto);
    border-radius: 2rem;
    width: 100rem;
  }
  .profile-container .one {
    margin-right: 1.5rem;
  }
  .profile-container .two {
    margin-left: 1.5rem;
  }
  .profile-container .four {
    margin-left: 1.5rem;
  }
  .profile-container .character {
    margin-right: 1.5rem;
  }
  .one, .two, .four, .five {
    min-width: 45rem;
  }
  .Bio {
    margin-top: 5rem;
    margin-bottom: 5rem;
    min-width: 50rem;
    min-height: 80rem;
  }
  .precio-container {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
}
@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}
@media (max-width: 1000px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
  }
}

/*# sourceMappingURL=Styles.css.map */
