:root {
    --primario: #fb0101;
    --primario-obscuro: #901111;
    --secundario: #f0e1a4;
    --Azul: #1d93a8;
    --secundario-obscuro: rgb(166, 173, 182);
    --gris: #606060;
    --blanco: #fff;
    --negro: #000000;
}