/* Contacto */
body {
    background-image: linear-gradient(to bottom, black 0%, #fb0101 100%);
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
  }

.contact_text {
    margin: 5rem;
    width: min(50rem);

    div {
        background-image: linear-gradient(to bottom, $Gray 0%, $Black 100% );
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin: 0 auto;
        padding: 2rem;
        border: 5rem;
        border-radius: 1rem;
    }
}

.formulario {
    background-image: linear-gradient(to bottom, $Gray 0%, $Black 100% );
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: min(50rem);
    margin: 0 auto;
    padding: 2rem;
    border: 5rem;
    border-radius: 1rem;
}

.seccion_1 {
    margin-top: 20rem;
    padding-top: 20rem;
}

.formulario fieldset {
    border: none;
    }

    legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $White;
}

.campo {
    margin-bottom: 1rem;
    
    label {
    color: $Primary-dark;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    }
}
.campo textarea {
    height: 15rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

