/* Titulos */

.header {
    background-image: linear-gradient(to top, $Primary-dark 20%, $Black 100%);
    font-size: auto;
    color: $White;
    height: 13rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 2rem;
    margin: 1rem;
}



.hero {
    background-image: url(../Assets/dungeons-and-dragons-leker-guci.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    border-radius: 1rem;
    margin: 1rem;
}

.contenido-hero {
    position: absolute;
    background-color:rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
    justify-content: center;
    border-radius: 1rem;

}
.contenido-hero h2, 
.contenido-hero p {
    color: $White;
}
.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

.hero2 {
    background-image: linear-gradient(to top, $Black 0%, $Secondary 50%, $Primary-dark 100%);
}


.servicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, $Primary-dark 20%, $Black 100%);
    z-index: -1;
    border-radius: 1rem;
    margin: 1rem;
    
}
    
    p {
    line-height: 2;
    text-align: center;
}
.servicio .iconos {
    margin: 2rem;
    height: 15rem;
    width: 15rem;
    background-color: $Primary;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }