/* Plans */



.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    gap: 3rem;
    margin-top: 3rem;
    
    
    .pricing-plan {
        flex: 1;
        max-width: 40rem;
        padding: 2rem;
        border-radius: 5px;
        text-align: center;
    }

    .plan-price {
        font-size: 5rem;
        font-weight: bold;
        color: $Black;
        margin-bottom: 10px;
        
        &:hover {
            font-weight: 700;
            color: $White;
        }
    }
    
    .plan-features, .plan-title  {
        font-weight: 700;
        list-style: none;
        background-image: linear-gradient(to top, $Primary-dark 20%, $Black 100%);
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
        background-image: linear-gradient(to bottom, $Primary-dark 20%, $Black 100%);
        border-radius: 1rem;
    }
    
    .plan-features li {
        margin-bottom: 1rem;
    }
    
    .plan-button {
        padding: 10px;
        background-image: linear-gradient(to top, $Black 0%, $Primary-dark 100% );
        color: $White;
        border-radius: 5px;
        border: none;
        border-color: $Black;
        padding-left: 5rem;
        padding-right: 5rem;

        &:hover {
            background-image: linear-gradient(to bottom, $Secondary-dark 0%, $Black 100%);
        }
    }
}



