/* Profile */

body {
    background-image: linear-gradient(to bottom, black 0%, #fb0101 100% );
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
}

.profile-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    width: 50rem;
    border-radius: 2rem;
}

.navbar {
    margin-bottom: 2rem;
}

.one {
    border-color: $White;
    background-image: linear-gradient(to top, $Primary-dark 20%, $Black 100%);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    border-radius: 2rem;
    margin: 1rem;
    
    * {
    display: flex;
    color: $White;
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
    }   

    .player {
        &:hover {
            size: 7rem;
        }
    }
}    

.one_head {
    margin: 0 auto;
    padding: 5rem
}

.two {
    border-color: $Black;
    background-image: linear-gradient(to top, $Black 0% , $White 100%);
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
}

.stats {
    margin: 0 auto;
}

.four {
    border-color: $Secondary;
    background-image: linear-gradient(to top, $Black 0% , $White 100%);
    grid-column: 2 / 5;
    grid-row: 3 / 5;

    height: 35rem;
    margin: 1rem;
    border-radius: 2rem;
    
    h2 {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    color: $Primary-dark;
    }
    
    p {
    text-align: center;
    margin: 0;
    }
}

.five {
    border-color: $Secondary;
    background-image: linear-gradient(to top, $Black 0% , $White 100%);
    grid-column: 5 / 1;

    height: 100%;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    
        P {
        color: $White;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 3rem;
        padding-top: 2rem;
    }
}

.Bio {
    background-image: linear-gradient(to top, $Black 0% , $White 100%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    width: 50rem;
    border-radius: 2rem;

    div {
        text-align: center;
        padding: 5rem;
    }
}