/* Profile */

body {
    background-image: linear-gradient(to bottom, black 0%, $Primary 100% );
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
}

.Character {
    @include color;
    padding: 5rem;
    justify-content: center;
    margin: 0 auto 2rem auto;
    border-radius: 2rem;
    width: 50rem;    

    grid-column: 1 / 2;
    grid-row: 3 / 5;

    div {
        text-align: center;
        padding: 5rem;
    }

    h2 {
        color: $Secondary;
    }
}

.profile-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin: 0 auto 2rem auto;
    border-radius: 2rem;
    


    width: 50rem;
    border-radius: 2rem;
}

.navbar {
    margin-bottom: 2rem;
}

.one {
    @include color;
    border-color: $White;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    border-radius: 2rem;
    margin: 1rem;
    width: 45rem;

    * {
    display: flex;
    color: $White;
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
    }   
}    

.player:hover {
    animation: wave-animation 0.6s infinite;
    @include animation;
}     

.one_head {
    margin: 0 auto;
    padding: 5rem
}

.two {
    @include color;
    color: $White;
    border-color: solid $Black;
    grid-column: 2 / 5;
    grid-row: 1 / 3;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    padding: 2rem;
    width: 45rem;


    h2 {
        color: $Secondary;
    }
}

.stats {
    margin: 0 ;
    padding: 0 ;
}

.four {
    @include color;
    border-color: $Secondary;
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    
    width: 45rem;
    margin: 1rem;
    border-radius: 2rem;
    border-color: solid $Black;
    
    h2 {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    color: $Secondary
    }
    
    p {
    text-align: center;
    margin: 0;
    }
}

.statweights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    p {
        padding: 1rem;
    }

    div {
        color: $White
    }
}

.five {
    @include color;
    border-color: $Secondary;
    grid-column: 5 / 1;

    min-width: 45rem;
    height: 100%;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    
        P {
        color: $White;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 3rem;
        padding-top: 2rem;
    }
}

.Bio {
    @include color;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    width: 45rem;
    border-radius: 2rem;

    div {
        text-align: center;
        padding: 5rem;
    }

    h2 {
        color: $Secondary;
    }
}

.Bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem; /* Esto centra el contenido en la altura de la ventana (viewport height) */
    margin-bottom: 5rem;
}