@media (min-width: 768px) {
    /* Estilos para la navegación principal */
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }

    .navegacion-principal a {
        display: block;
        text-align: center;
        color: $White;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem;

        &:hover {
            background-color: $Primary;
            color: $White;
        }
    }

    /* Estilos para contenido-hero */
    .contenido-hero {
        background-image: url(../Assets/Articles_Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;

        p {
            color: $White;
        }
    }

    .contenido-plans {
        background-image: url(/Pre-entrega3-Shandra-Uribe/Assets/door.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;

        h2{
            padding-top: 5rem;
            justify-content: center;
            align-items: center;
            color: $Secondary;
        }

        p {
            color: $White;
        }
    }

    .contenido-hero2 {
        @include color;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;

        p {
            color: $White;
        }
    }

    /* Estilos para servicios */
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5rem;
        margin: 3rem 1rem 5rem 1rem;
    }

    .contenido-hero2 {
    padding: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    }

    /* Estilos para contenedor-campos y formulario */
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .formulario {
        width: 70rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }

    /* Estilos para profile-container */
    .profile-container {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        gap: 0rem;
        border: 10rem;
        padding: 3rem;
        background-color: $Black;
        grid-auto-rows: minmax(10rem, auto);
        border-radius: 2rem; 
        width: 100rem;
    }

    .one, .two, .four, .five {
        min-width: 45rem;
    }


    .Bio {
        margin-top: 5rem;
        width: 100rem;
    }

    .precio-container {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
}

@media (min-width: 500px) {
    ul {
    grid-auto-flow: column;
    }
    
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        margin-top: 5rem;
    }
}