/* Boton index */
.boton {
    background-color: $Primary;
    color: $Secondary;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 60%;
    text-align: center;
    border: none;
    background-image: linear-gradient(to top, $Primary 0%, $Black 100%);


    &:hover {
        background-image: linear-gradient(to bottom, $Primary 0%, $Black 100%);
        color: $White;
    }

}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }       
}

.boton:hover {
    cursor: pointer;
}

.iconos {
    color: $Black;
}